/* App.css */

.App {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.anime-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.anime-item {
  position: relative;
  width: 210px;
  height: 300px;
  border-radius: 2%;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  overflow: hidden;
  padding: 5px;
  transition: transform 0.4s;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
}

.anime-item:hover {
  transform: scale(1.1);
}

.title,
.episodes,
.heart-icon {
  display: none;
  color: #fff; /* Set text color to white */
}

.anime-item:hover .title,
.anime-item:hover .episodes,
.anime-item:hover .heart-icon {
  display: block;
}

.title {
  font-size: 16px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  max-width: 90%;
  padding: 5px;
  font-weight: bold; /* Increase font weight */
}

.episodes {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
  align-self: flex-end;
  font-weight: bold; /* Increase font weight */
}

.bottom-left-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red; /* Set the color to red */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Set text color to white */
  font-size: 16px;
  cursor: pointer;
}

.anime-item:hover .bottom-left-button {
  opacity: 1;
}

.saved-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}